*{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
input{
  outline: none;
}

/* ========================================
----------------- Header ------------------
=========================================== */
header{
  display: flex;
  height: 80px;
  width: 100%;
  background-color: white;
  color: #555;
}
/*-------- General container header -------*/
header #container-header{
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*------------- Container menus -----------*/
header #container-header .content-header{
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*------------------ Title ----------------*/
header #container-header .content-header h1{
  margin-right: 20px;
}
/*----- Btn for Show and hidde menu -------*/
header #container-header .content-header #menu-icon{
  display: none;
  cursor: pointer;
  height: 30px;
  margin: 0;
}
header #container-header .content-header #menu-icon .bar1,
header #container-header .content-header #menu-icon .bar2,
header #container-header .content-header #menu-icon .bar3 {
  width: 30px;
  height: 3px;
  background-color: #555;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.4s;
}
header #container-header .content-header .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
  background-color: #aaa !important;
}
header #container-header .content-header .change .bar2 {
  opacity: 0;
}
header #container-header .content-header .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
  transform: rotate(45deg) translate(-6px, -4px);
  background-color: #aaa !important;
}
/*----------------- Search ---------------*/
header #container-header .content-header form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
header #container-header .content-header form input{
  border: none;
  height: 30px;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
header #container-header .content-header form button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
header #container-header .content-header form button img{
  height: 20px;
}
/*---------- Btn for go to cart ---------*/
header #container-header .content-header a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border: none;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}
header #container-header .content-header a img{
  height: 35px;
}

/* ========================================
----------------- Footer ------------------
=========================================== */
footer{
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  color: #555;
}
footer #container-footer{
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ========================================
---------------- Responsive ---------------
=========================================== */
@media screen and (max-width: 1345px) {
  header #container-header,
  footer #container-footer{
    width: calc(100% - 40px);
    margin: 20px;
  }
}
@media screen and (max-width: 550px) {
  header{
    min-height: 100%;
    height: auto;
    padding-top: 20px;
  }
  header #container-header{
    margin: auto;
    flex-direction: column;
    justify-content: center;
  }
  header #container-header .content-header{
    width: 100%;
    justify-content: space-between;
    padding: 15px 0;
  }
  header #container-header #menu-drop-down{
    display: none;
  }
  header #container-header .content-header #menu-icon{
    display: inline-block;
  }
}
